.titulo
{
    background-color: #00CED1;
    color: white;
    text-align:center;
    
}

.pie
{
    background-color: black;
    color:white;
    
}

.link

{
    color:#DF0101;
    font-style: italic;
    text-align: center;
    
    
    
}
